!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", xml:lang => "en" }
  !! head
  - $body_class = join(' ', get_body_class())
  %body{ :class => $body_class }
    #page
      !! header

      #id.narrowcolumn
        - if(have_posts()):
          - while(have_posts())
            = haml_the_post()
            - $class = join(' ', get_post_class())
            - $permalink = haml_the_permalink()
            %div{:id => 'post'.get_the_ID(), :class => $class}
              %h2
                %a{ :href => $permalink, :rel => 'bookmark', :title => 'Permanent Link to '.the_title_attribute(array('echo' => false)) }
                  = the_title()
              %small
                - the_time('F jS, Y')
              .entry
                - the_content('Read the rest of this entry &raquo;')
              .postmetadata
                = the_tags('Tags: ', ', ', '<br />')
                = 'Posted in '.get_the_category_list().' | '
                = haml_edit_post_link('Edit', '', ' | ')
                = haml_comments_popup_link('No Comments &#187;', '1 Comment &#187;', '%Comments &#187;')
          .navigation
            .alignleft
              - next_post_link('&laquo; Older Entries')
            .alignright
              - previous_post_link('Newer Entries &raquo;')
        - else:
          %h2.center Not Found
          %p.center Sorry, but you are looking for something that isn't here.
          - get_search_form()
        - endif

      !! sidebar
      !! footer
